<header class="top-page-header">
  <div class="heading">
    <div class="inner">
      <div class="nav__left">
        <%= link_to "Life Planner", root_path, class: "title" %>
      </div>
    </div>
  </div>
</header>