.item-contents {
  width: 100%;
  min-height: 100vh;
}

.user-mypage {
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

.likes-message {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  color: #696969;
}