.items-main {
  text-align: center;
}

.items-title {
  margin: 30px;
  font-size: 25px;
}

.field {
  margin: 20px;
}

.form_title {
  margin: 10px;
  padding:10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 20px;
  width: 50%;
  resize: none;
}

.form_text {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 20px;
  resize: none;
  height: 9em;
  width: 50%;
}

.form_btn {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 20px;
  padding: 30px;
  background: #a7a7a7;
  border: 1px solid #1f1f1f;
  border-radius: 10px;
}

.back-btn {
  margin: 20px;
}