.form_btn {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 20px;
  padding: 30px;
  background: #a7a7a7;
  border: 1px solid #1f1f1f;
  border-radius: 10px;
}

.back-btn {
  margin: 20px;
}