.main {
  background: #ffffff;
  width: 100vw;
}

.first-view {
  position: relative;
}

.top-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.title-contents {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  color: black;
}

.service-title {
  font-weight: bold;
  font-size: 23px;
  border-bottom: 2px solid;
  margin: 10px 0;
}

.service-subtitle {
  font-size: 18px;
  margin: 12px 0;
}

.select-contents {
  background-color: #000080;
  margin: 100px 200px;
  padding: 50px;
  color: #e6e6fa;
  border-radius: 15px;
}

.select-title {
  font-size: 25px;
  margin: 10px 10px;
}

.select-text {
  font-size: 18px;
}

.select-insurance {
  text-align: center;
  font-size: 30px;
}

.item-list {
  margin: 20px 30px;
}

.item-info {
  display:inline-block;
  padding: 0.5em 1em;
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
  font-size: 30px;
}

.item-sub {
  margin: 0;
  padding: 0;
}

.item-feature {
  color: black;
  font-size: 20px;
  margin: 2rem 3rem;
}

.item_none {
  text-decoration: none;
  color: black;
}